
@{
    ViewBag.Title = "Ghid de drumetie la munte.";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Guide.css")
</head>

<body>
    
    <div class="row">
        <div class="col-sm-6">
            <br /><br /><br /><br />
            <img src="~/Sources/Images/boots.jpg">
            <br /><br /> <br /><br />
            <img src="~/Sources/Images/clothes.jpg">
            <br /><br /><br /><br />
            <img src="~/Sources/Images/planning.jpg">
            <br /><br /><br /><br />
            <img src="~/Sources/Images/foodandwater.jpg">
            <br /><br /> <br /><br /><br /><br /><br /><br /><br /><br />
            <img src="~/Sources/Images/breath.jpg">
            <br /><br /> <br /><br /><br /><br />
            <img src="~/Sources/Images/extremesit.jpg">
            <br /><br /><br /><br /> <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /> <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /> <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /> <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /> <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /> <br /><br /><br /><br /><br /><br /><br /><br />
            <img src="~/Sources/Images/whitle.jpg">
        </div>

        <div class="col-sm-6">
            <div class="guide">
                <h2> Sfaturi utile pentru începători. Cum te pregătești pentru o drumeție pe munte </h2>
                <p>
                    Iată câteva sfaturi utile pentru drumeţiile tale montane! <br />

                    <h3> ÎNCĂLŢĂMINTE </h3> <br />
                    <b>Nu pleca cu bocanci noi pe traseu</b> <br />
                    Dacă pleci pe trasee simple şi scurte (maximum 4-5 ore), poţi apela la adidaşi şi sandale de munte. Alege piesele de
                    încălţăminte cu profile antiderapante. Pentru traseele lungi, la înălţimi mari, ai nevoie de bocanci. Nu pleca însă cu o
                    pereche noi. Te poţi trezi că te bat pe traseu. Cumpără-i din timp, testează-i prin oraş şi schimbă-i dacă ai probleme. Se
                    poate întâmpla şi la mărci de renume. Vara, e bine să ai la tine şi apărătoare pentru pietre.
                    <br />
                    O atenţe deosebită trebuie acordată ciorapilor. Lâna e un material mai bun decât bumbacul, dar în magazinele de profil
                    găseşti ciorapi din materiale chiar mai bune. Ai grijă ca, în timpul drumeţiei, să schimbi şosetele după 4-5 ore de mers.
                    <br />

                    <h3> HAINE </h3> <br />
                    <b>Fleece, cea mai bună bluză</b> <br />
                    Bine ar fi să îţi iei pantaloni lungi, deoarece în cei scurţi rişti să te zgârii sau să te urzici. Ca material, alege
                    pantalonii de doc. La alegerea bluzei, trebuie să ştii că bumbacul nu e strălucit. Vei transpira şi ţesătura va rămâne
                    udă destul de mult timp. Vei găsi la preţuri decente fleeceuri, bluze pe care le poţi îmbrăca direct pe piele. Acestea
                    elimină rapid apa şi vei fi uscat mai tot timpul.
                    <br />
                    Cum vremea pe munte e instabilă, ia la tine şi un hanorac potrivit pentru vânt şi ploaie. Alege unul cu membrană poroasă
                    Gore Tex. Această membrană lipită pe ţesătură are miliarde de mici găuri pe centimetru pătrat. Astfel, vaporii pot trece
                    prin ea (utilă în eliminarea transpiraţiei), dar picăturile de apă sunt mult prea mari pentru a pătrunde.
                    <br />
                    RUCSAC. Pentru turele cu plecare şi revenire la cabană în 5-8 ore este suficient un rucsac de 20 de litri (unul mic, de
                    genul celui folosit în oraş). Pentru turele mai lungi, optează pentru unul de 60-80 de litri. Ideea de cadru este una
                    bună, pentru o postură excelentă pe munte. Unele rucsacuri moderne au mutat cadrul din duraluminiu în interior, o
                    soluţie excelentă pentru a merge cu spatele drept.
                    <br />

                    <h3> PLANIFICARE </h3> <br />
                    <b>Cine pleacă de dimineaţă, scapă de furtună</b> <br />
                    Înainte să pleci, fii foarte atent la starea vremii. Prognozele pe două zile sunt de regulă foarte precise. De asemenea,
                    trebuie să ai în vedere că, în lunile de vară, furtunile apar adesea după-amiază (mai ales în intervalul 14-18). În
                    aceste situaţii, e recomandat să pleci în trasee mai devreme (în Alpi, oamenii de munte pleacă chiar şi la 1-2 dimineaţa),
                    la ora 05, de pildă. Calculează durata traseului şi ai grijă să fii într-un loc sigur (cabană, adăpost) la ora când
                    începe furtuna.
                    <br />

                    <h3> HRANĂ ŞI APĂ </h3> <br />
                    <b>Nu mânca grăsimi înainte de plecare</b> <br />
                    În dimineaţa dinainte de tură evită grăsimile. Refuză salamul, şunca, ouăle. Poţi lua o masă cu brânzeturi uşoare,
                    felii cu dulceaţă ori brânză topită, alături de un ceai îndulcit cu miere. Un alt „meniu” indicat e sana cu fulgi de
                    porumb, de pildă. Ar fi bine să o lăsaţi mai moale cu cafeaua şi ţigările.
                    <br />
                    Pentru drum, un pacheţel mic şi bogat în calorii. Lactatele sunt bune, dar e destul de greu şi riscant să iei iaurtul
                    cu tine (se strică). Caşcavalul e mai puţin perisabil, îl poţi mânca cu roşii, ardei. Ceapa şi usturoiul sunt excelente
                    pe munte.
                    <br />
                    Ia cu tine şi fructe uscate, alune şi nuci. Sunt uşoare şi au destule calorii. Dintre fructele proaspete, cele
                    mai bune sunt merele. Pune în rucsac biscuiţi, ciocolată, glucoză, eugenii.
                    <br />
                    Conservele, pateurile sunt mai mult de rezervă, pentru situaţiile în care eşti nevoit să poposeşti în plus.
                    <br />
                    Este riscant să bei apă direct din izvor, aşa că ia apă la tine. Nu trebuie să te împovărezi cu prea multă: 250 de
                    mililitri pe oră este de ajuns pentru băut.
                    <br />

                    <h3> RESPIRO </h3> <br />
                    <b>Pauze dese, cu faţa spre vale</b> <br />
                    La fiecare oră de traseu, ia o pauză de 5-10 minute. Poţi zăbovi în picioare, dar şi aşezat. Pauzele lungi, în care
                    poţi lua masa, se fac la fiecare 4-5 ore de mers. Nu uita să stai cu faţa la vale, te oxigenezi bine, respiri mai uşor.
                    <br />
                    „Am văzut fete coborând în salturi. E riscant, poţi călca pe o piatră mobilă şi dus eşti. Grăbeşte-te încet şi ia cu
                    tine beţe de schi, te vor ajuta mai ales la coborâre.” DAN VASILESCU, alpinist
                    <br />

                    <h3> SITUAŢII LIMITĂ </h3> <br />
                    <b>Cinci mari pericole în munţi</b> <br />
                    Ai două numere de urgenţă, 112 şi 0SALVAMONT (primul caracter e zero, nu litera O). Dacă nu ai semnal, urcă pe creastă.
                    <br />
                    FURTUNĂ. Trebuie să cobori cât de mult sub creastă. Dacă găseşti o grotă fără animale e perfect. Nu te adăposti sub un
                    copac izolat. Fii atent să nu ai contact cu stânca. Nu purta obiecte metalice pe piele. Un turist polonez a murit lovit
                    de fulger şi se pare că ar fi scăpat cu viaţă dacă nu purta un lănţişor.
                    <br />
                    NOAPTEA PE MUNTE. Dacă te rătăceşti şi se apropie noaptea, apelează salvatorii. Alege un loc de staţionare pe cât
                    posibil ferit de intemperii. La temperaturi scăzute, membrii grupului trebuie să stea unii lângă alţii, ghemuiţi,
                    copiii şi femeile de preferinţă în mijloc.
                    <br />
                    TRASEU PIERDUT. Când e ceaţă, încercaţi să mergeţi răsfiraţi. Astfel, dacă cel din faţă nu găseşte următorul marcaj,
                    poate striga la cel din spate să rămână la precedentul marcaj. Dacă nu mai găseşti marcajul, ia-o la vale, dar evită
                    grohotişurile şi pantele cu iarbă cu o înclinaţie mai mare de 40 de grade. Când dai de primul curs de apă, ţine-l
                    în aval. Dacă e nevoie să-l traversezi, alege un loc unde albia e lată, apa puţin adâncă (sub genunchi), iar viteza
                    curentului de apă – redusă.
                    <br />
                    ÎNTÂLNIRE CU URSUL. E bine să ştii că şi el e destul de speriat când te vede. Bateţi în retragere încet, cu faţa către
                    animal, fără mişcări ample şi bruşte. Alegeţi o postură semighemuită, pentru ca animalul să vă perceapă ca fiind mai
                    mic, în înălţime, faţă de el. Dacă sunteţi înalt şi staţi drept, vă poate lua drept un pretendent teritorial. Puteţi
                    să îi distrageţi atenţia aşezând uşurel un pacheţel de mâncare care îi va distrage atenţia (nu îl aruncaţi spre el).
                    <br />
                    COLEG ÎN PRĂPASTIE. Gândeşte-te bine: nu te aventura să îl salvezi dacă nu eşti convins că poţi ajunge în siguranţă la
                    el. Sună salvatorii şi coboară la el dacă se poate. Ai grijă însă să nu mişti pietre, acestea l-ar putea lovi.
                    Dacă ajungi la el, nu îl mişca din loc, poate avea răni grave, iar tu îi poţi înrăutăţi starea. Dacă ai cunoştinţe de
                    prim ajutor şi ştii că poate fi mişcat, du-l într-un loc sigur şi acoperă-l cu o pătură, sac de dormit, jachetă etc.
                    Nu-i administra alcool şi ţine-l hidratat.
                    <br />
                    ATACAT DE ŞARPE. Şerpii sunt activi dimineaţa şi spre seară, în timpul zilei fiind ascunşi pentru a evita
                    supraîncălzirea. Unele specii sunt active şi noaptea, când vânează. Nu muşcă decât dacă au fost călcaţi direct,
                    sunt în imediata apropiere a cuibului sau se află în perioada de împerechere. De regulă, în muşcătura de apărare,
                    şarpele foloseşte foarte puţin venin sau chiar deloc. În muşcătura de atac, cantitatea de venin inoculata poate fi
                    însă destul de mare.
                    <br />
                    Înainte de a monta cortul sau a vă aşeza pătura de picnic, cercetaţi cu atenţie locul de campare, utilizând un băţ mai
                    lung.
                    <br />
                    Dacă în cadrul grupului sunt cel puţin trei persoane, una dintre ele solicită ajutor. Procedura descrisă în continuare
                    se aplică şi este eficientă numai imediat după muşcătură şi dacă aceasta s-a produs la nivelul piciorelor sau braţelor:
                    <br />
                    În primul rând, victima nu trebuie să se panicheze şi nici să se mişte. Ea va fi deplasată de însoţitori. Se evită
                    astfel accelerarea fluxului sangvin şi dispersia veninului în ţesuturi. Persoana se pune în poziţia aşezat, cu spatele
                    sprijinit de un copac sau de stâncă. Se identifică locul muşcăturii, care se prezintă sub forma a doua plăgi
                    punctiforme, alăturate. Atenţie! Pot fi situaţii în care există o singură plaga punctiformă. Se aplică rapid un
                    garou (confecţionat din elastic, curea, batic, bandană etc) deasupra rănii. Cu lama unui briceag sau cutter,
                    dezinfectat în prealabil cu spirt sau prin expunere la flacără, faceţi două incizii, de câţiva milimetri, în X,
                    cu intersecţia pe plaga punctiformă. Se stoarce sânge prin aceste incizii, dinspre zona depărtată către plagă.
                    Cantitatea de sânge stoarsă poate fi de circa 100 ml. Se pansează şi se aplică comprese reci (ideal, cu gheaţă) în
                    zona muşcăturii şi se scoate garoul.
                    <br />
                    În celelate situaţii, când din momentul muşcăturii până la aplicarea primului ajutor trec mai mult de 4-5 minute,
                    victima nu mai este lăsată să se deplaseze. Se aplică comprese reci în zona muşcăturii. Victima se aşază pe o targă
                    improvizată (pătură, scară de lemn, uşă etc) şi se transportă până la locul de contact stabilit cu salvatorii.
                    Atenţie! Evacuarea de către grup se face numai în situaţia în care e posibilă deplasarea fără niciun pericol de cădere!
                    <br />
                    În timpul evacuării, compresele reci se schimbă cât mai des posibil şi se monitorizează continuu starea victimei.
                    Din momentul muşcăturii, în funcţie de localizarea acesteia şi cantitatea de venin injectată, timpul maxim care poate
                    trece până la administrarea eficientă a serului antivenin este de circa 6 ore.
                    <br />

                    <h3> ACCESORII </h3> <br />
                    <b>Fluierul cu bilă, alarma muntelui</b> <br />
                    Capul trebuie ferit de acţiunea directă a razelor solare, mult mai intensă la munte decât la şes. Aşa că trebuie
                    neapărat să aveţi la voi fes, şapcă sau bandană. Pentru zilele mai reci foarte bun este un passe-montagne, un accesoriu
                    asemănător unei cagule, numai că lasă mai mult loc liber în zona ochilor.
                    <br />
                    Dacă tot a venit vorba de ochi, nu uitaţi de ochelarii de soare. La munte, nu sunt un moft, ci o necesitate, atât pe
                    timp de iarnă, cât şi vara. Pentru drum, pune într-un buzunar al rucsacului un fluier cu bilă (excelent pentru localizare
                    atunci când vei solicita ajutor), o lanternă puternică, un briceag şi o mică trusă de prim ajutor. Minimal, aceasta
                    trebuie să conţină plasturi de diferite mărimi, şerveţele dezinfectante, o cremă de protecţie solară, o pensetă (pentru
                    extragerea căpuselor, a spinilor etc) şi câteva medicamente de uz general, care nu necesită recomandarea medicului
                    (pentru dureri, diaree etc).
                    <br />
                    E recomandată şi o folie de supravieţuire, care poate fi achiziţionată din magazinele de echipament montan sau cele de
                    tehnică medicală. Această folie vă protejează suplimentar, atât de căldură cât şi de frigul excesiv, utilizarea ei
                    salvând numeroase vieţi.
                    <br />
                    250 de mililitri
                    este cantitatea de apă necesară pentru fiecare oră de traseu. Astfel, pentru un traseu de opt ore, ai nevoie de 2 litri.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
