
@{
    ViewBag.Title = "Lista penru bagajul de munte";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Luggage.css")
</head>

<body>
    <h2> Lista pentru bagajul de munte </h2>

    <div class="img">
        <img src="~/Sources/Images/img3.jpg">
    </div>

    <div class="luggage">
        <h2> 1. Lista bagajului de munte pentru incepatori: ce NU trebuie sa uiti acasa </h2>
        <p>
            Atunci cand ai stabilit escapada de weekend la munte cu prietenii sau familia, tot ce iti mai ramane de facut este
            pregatirea bagajului. Pe cand in situatia unei vacante la mare sau prin Europa ai nevoie de un bagaj consistent, de
            sezon si cu de toate, in cazul bagajului de munte lucrurile stau altfel. Daca, pana acum, bagajul tau de munte consta
            in cateva pulovere/hanorace, sneakersi sau bocanci si o pelerina de ploaie, daca vrei sa treci in categoria
            profesionistilor si sa inveti sa impachetezi un bagaj perfect complet in mai putin de 30 de minute, noi iti venim in
            ajutor!
            <br /> <br />

            Asadar, iata care sunt lucrurile care musai trebuie sa isi gaseasca loc in ghiozdanul tau:
            <br /> <br />
            Ce sa iei cu tine in bagaj? Aceasta este o intrebare care sigur iti cam da batai de cap, pentru ca niciodata nu esti
            in totalitate sigur ca ai bifat toate lucrurile de pe lista si ca nu vei uita ceva important acasa.
            <br /> <br />
            produse de ingrijire si cosmetice <br />
            o pelerina de ploaie <br />
            un carnet/ o agenda de calatorie <br />
            trusa de prim-ajutor <br />
            kit montan: lanterna LED,briceag multifunctional <br />
            incarcator auto <br />
            portcard <br />
            baterie externa <br />
            baterii de rezerva <br />
            ceas de mana cu incarcare solara <br />
            batoane proteice pentru un boost de energie <br />
            sapca sau palarie <br />
            borseta sau buzunar detasabil compartimentat <br />
            medicamente : antialergice, antiinflamatoare, suplimente alimentare <br />
            busola electronica <br />
            bratara cu led/curea cu led <br />
            lanterna de cap <br />
            sticla portabila pentru apa <br />
            fructe uscate <br />
            ochelari de soare <br />
            aparat foto <br />
            kit portabil de cafea/ceai <br />
            harta <br />
        </p>

        <h3> bagajul de munte iarna </h3>
        <p>
            Iarna nu-i ca vara, iar pregatirea unui bagaj pentru o excursie la munte pe vreme mai putin favorabila poate fi o
            adevarata provocare. Orice lucru indispensabil uitat acasa, poate provoca stres, neplaceri sau chiar riscul de a te
            simti inconfortabil in propria vacanta. Ca sa te scapam de griji, noi ti-am pregatit mai jos o lista cu lucrurile si
            accesoriile care nu trebuie sa iti lipseasca din ghiozdanul de munte, iarna:
            <br /> <br />
            sosete groase <br />
            fular cu incalzire <br />
            first layer, second layer <br />
            cagula pentru echipament sportiv <br />
            caciula cu urechi <br />
            manusi (de preferat confectionate din softshell) <br />
            crema pentru degeraturi, crema de protectie si hidratare <br />
            balsam de buze hidratant <br />
            ochelari de protectie (pentru ninsoare) <br />
            geaca de iarna <br />
            bocanci de munte (indispensabili) <br />
        </p>

        <h3> bagajul de munte vara </h3>
        <p>
            Vara, la munte, temperaturile sunt mult mai relaxate, intrucat nu vei fi conditionat sa iei diverse masuri de siguranta
            impotriva gradelor cu minus. Totusi, trebuie sa stii ca, pe timp de vara, soarele de munte nu este deloc unul cu dinti,
            dimpotriva, trebuie sa te protejezi serios de razele UV atunci cand te expui, pe timp de zi. Nu uita sa iei cu tine:
            <br /> <br />
            crema de protectie solara cu factor ridicat <br />
            crema pentru calmarea pielii afectate de soare <br />
            ochelarii de soare polarizati <br />
            tricouri si maieuri din bumbac <br />
            crema/pulverizator anti-tantari <br />
            o pereche de sneakersi care sa iti lase pielea sa respire <br />
            cosmetice cu SPF <br />
            sandale sport (cu talpa flexibila) <br />
        </p>

        <h2> 2. Compartimentul cu haine: ce sa iei la tine ca sa nu iti lipseasca nimic </h2>
        <p>
            In rucsacul pentru o excursie montana trebuie sa se gaseasca tot ce ai nevoie in materie de haine si incaltaminte insa,
            totodata, sa nu iei cu tine mai multe decat ai nevoie defapt. Tocmai de aceea, iti oferim cateva sfaturi si o lista cu
            hainele si incaltamintea care trebuie sa se regaseasca in bagajul tau de munte.
            <br /> <br />
            pulovere din materiale usoare <br />
            hanorace cu gluga <br />
            tricouri din bumbac, comode <br />
            pantaloni scurti <br />
            pantaloni lungi <br />
            Sfat: Evita jeansii stramti, care nu vor face altceva decat sa te incomodeze in momentele in care iti doresti sa
            te simti cat mai confortabil. De asemenea, nu lua cu tine haine din materiale care iti pot irita pielea atunci cand
            temperaturile sunt foarte ridicate. Alege materialele naturale precum bumbac sau in.
            <br /> <br />
            bocanci de munte <br />
            colanti si dresuri termice <br />
            geaca cu puf/geaca de ski <br />
            jacketa second layer <br />
            pulover pe gat <br />
            sneakersi de running usori (pentru sezonul cald) <br />
        </p>

        <h2> 3. Cu cortul la munte: 5 accesorii pe care trebuie neaparat sa le ai in bagaj </h2>
        <p>
            Ca sa fie clar inteles de la bun inceput, lista pentru bagajul pe care il vei lua in excursia cu cortul la munte NU
            este destinata celor care isi monteaza cortul la cativa pasi de masina, udne poti avea absolut totul la indemana.
            Chiar si asa, vei regasi aici cateva dintre lucrurile care nu trebuie sa iti lipseasca in nicio situatie, insa mai
            ales atunci cand nu ai acces la tot ce inseamna civilizatie, tehnologie etc.
            <br /> <br />
            Suna distractiv, nu-i asa? Iata ce trebuie sa iei cu tine daca urmeaza sa pleci cu cortul la munte:
            <br /> <br />
            sac de dormit <br />
            paturi <br />
            izopren <br />
            folie de ploaie pentru cort <br />
            perna <br />
            un rucsac confortabil <br />
            lanterna + baterii suplimentare <br />
            termos/recipient de lichide <br />
            Sfat: Este important sa iti organizezi cat mai bine bagajul pentru a avea totul la indemana. Pune deasupra lucrurile
            pe care le folosesti mai des si dedesubt in bagaj hainele si accesoriile de care nu ai nevoie constant. Astfel,
            le vei gasi pe toate mai usor.
            <br /> <br />
            mancare ambalata <br />
            batoane proteice <br />
            cereale, nuci, alune, cafea <br />
            sfoara <br />
            cutit de vanatoare <br />
            vesela de unica folosinta <br />
            chibrite, brichete <br />
            primus cu butelie de gaz (in cazul in care vei gati) <br />
            saci de gunoi <br />
            acumulatori <br />
            scaun rabatabil <br />
            dus rabatabil <br />
            Sfat: Greutatea bagajului conteaza mult atunci cand mergi cu cortul. De aceea, este ideal ca bagajul tau sa fie <br />
            cat mai practic, sa contina exact lucrurile de care ai nevoie. <br />
            <br /> <br />
            Aceasta este o lista generala pe care o poti personaliza si customiza in functie de nevoile tale personale.
            Un weekend la munte poate fi o experienta de neuitat atunci cand esti foarte bine pregatit. De aceea,
            intocmirea bagajului reprezinta cel mai important pas catre o calatorie fara stres!
        </p>


    </div>
</body>
</html>
