
@{
    ViewBag.Title = "Semnificatiile marcajelor turistice";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Markings.css")
</head>

<body>
    <div class="markings">
        <h2> Semnificatiile marcajelor turistice </h2>
        <p>
            Marcajele turistice sunt extrem de importante în drumețiile noastre. Deși montaniarzii le știu și, cu timpul (și cu
            ajutorul marcajelor), ajung să cunoască traseele fără a le mai căuta, există și iubitori de munte care au văzut, până
            acum, numai unul sau două marcaje (iar aici ne referim la cei începători).
            <br /><br />
            De ce sunt marcajele importante? Pentru că ne indică locul în care ne aflam, altitudinea, sezonul, cât timp mai avem de
            parcurs până la următorul reper, dar și gradul de dificultate al traseului. Și, cel mai important, dacă le urmăm, nu ne
            vom rătăci.
            <br /><br />
            <b>Unde se găsesc marcajele turistice?</b>
            <br />
            Marcajele montane sunt plasate la începutul unui traseu, atunci când se intersectează două sau mai multe trasee, pe cele
            mai importante vârfuri sau în zone unde se găsesc obiective turistice. Ele sunt amplasate pe copaci, stânci, stâlpi, pietre
            sau tăblițe speciale.
            <br /><br />
            <b>Sistemul național de marcare turistică</b>
            <br />
            Potrivit ”Ghidului drumețiilor montane”, de Lăncrănjan Mircea, sistemul național de marcare turistică include următoarele
            tipuri de marcaje:
            <br />
            <b>În grup:</b> au inițial un parcurs comun, după care semnele se ramifică succesiv pe diferite trasee
            <br />
            <b>Centrifugale:</b> au semne ce se despart chiar de la pornire pe trasee diferite
            <br />
            <b>În circuit:</b> au același punct de plecare și de sosire
            <br />
            <b>Cu ax comun:</b> au un traseu principal numit și magistrală – în general traseu de creastă – din care se ramifică sau către
            care se dirijează mai multe trasee secundare
            <br />
            <b>Pentru trasee dus-întors</b>
            <br /><br />
            <b>Tipuri și semnificații</b>
            <br />
            Marcajele pe care le găsim pe trasee sunt, de obicei, realizate cu roșu, galben și albastru, obligatoriu pe fond alb.
            Apoi, în funcție de datele pe care le anunță despre traseu, se împart în:
            <br />
            Marcaje sub formă de bandă verticală – marchează traseul principal și este întâlnit în traseele de creastă.
            <img src="~/Sources/Images/markings1.jpg">
            <br />
            Marcaje sub formă de cruce cu brațele egale –  traseele de legătură cu traseul principal.
            <img src="~/Sources/Images/markings2.jpg">
            <br />
            Punctul și triunghiul – apar în locurile unde se află poteci care vin de pe văi și marchează traseele secundare.
            <img src="~/Sources/Images/markings3.jpg">
            <br />
            Pătrat roșu sau albastru – semnifică apropierea de rezervații naturale.
            <img src="~/Sources/Images/markings4.jpg">
            <br />
            „C” într-un pătrat – este folosit pentru a marca traseele pentru bicicliști.
            <img src="~/Sources/Images/markings5.jpg">
            <br />
            Pătrat format din mici pătrățele negre și galbene – desemnează zone cu pericol ridicat de avalanșă.
            <img src="~/Sources/Images/markings6.jpg">
            <br />
            Cercuri duble de culoare albă și roșie – marchează traseele dus-întors.
            <img src="~/Sources/Images/markings7.jpg">
            <br /><br />
            <b>Indicatoare montane</b>
            <br />
            <b>de direcție (simple sau duble)</b> și indică sensurile de parcurs, pe plăcile metalice în formă de sageată;
            <br />
            <b>de traseu (table indicatoare)</b>, care sunt de mai multe tipuri – în punctele de convergență (raspântii) ale mai multor trasee,
            cuprind semnele de marcaj, direcțiile de mers, timpul de parcurgere al traseelor; cele de avertizare (cu rol de protecție)
            se montează pentru semnalizarea unor pericole: drum periculos, căderi de pietre, o prăpastie, declanșarea avalanșelor; table
            toponimice: semnalizează lacuri și râuri, intrarea în rezervații naturale, monumente ale naturii;
            <br />
            <b>de documentare</b>, care furnizează informații privitoare la traseele marcate precum și despre principalele puncte de interes
            turistic din arealul respectiv și se găsesc la cabane sau în stațiuni;
            <br /><br />
            <b>Care sunt gradele de dificultate ale traseelor și cum sunt calculate?</b>
            <br />
            <b>Grad mic de dificultate</b> – poate fi parcurs de oricine într-o perioadă scurtă, de la 3 la 6 ore, cu o diferență de nivel de
            la 300 la 700 de metri.
            <br />
            <b>Grad mediu de dificultate</b> – durata în care se parcurge traseul este între 4 și 8 ore, diferența de nivel fiind de la 500 la
            1.000 de metri. Cei care aleg acest tip de traseu trebuie să aibă o condiție fizică bună.
            <br />
            <b>Grad mare de dificultate</b> – parcurgerea traseului necesită un efort fizic continuu și trebuie să aveți o condiție fizică
            foarte bună. Durata traseului este între 5 și 9 ore, iar diferența de nivel este de la 800 la 1.500 de metri.
            <br /><br />
            <b>Ce ar trebui să mai știți</b>
            <br />
            Dacă este afișată și sigla Salvamont, aceasta indică faptul că vă aflați într-o zonă „patrulată” de echipele organizației
            respective.
            <br />
            Timpul afișat indică durata unui parcurs cu mers obișnuit (fără opriri mai mari de 10 minute dupa fiecare oră de mers).
            Dacă apar două valori (de exemplu 4 1/2 – 5 ore), diferența de 1/2 oră reprezintă decalajul dintre un turist antrenat și
            unul mai puțin antrenat, ori dintre o deplasare în condiții atmosferice normale și una cu intemperii.
            <br /><br />
            Pe indicatoare aflate la intrările și ieșirile de pe traseu puteți găsi, conform ”Ghidului drumețiilor montane”,
            următoarele litere, care semnifică:
            <br />
            A – pericol de avalanșă<br />
            C – cornișe pe traseu<br />
            D – dificultăți alpine (pasaje, săritori)<br />
            M – condiții meteo ce pot influența substanțial parcursul<br />
            O – orientare dificilă<br />
            P – pantă mare și alunecoasă<br />
            H – limita dintre două ocoale silvice<br />
            <br /><br />
            De asemenea, există marcaje aflate în zone stâncoase greu accesibile: Momâi (un grup de pietre în formă de piramidă, a
            căror înălțime variază până la 1 m).
            <br /><br />
            <b>Dacă sunteți o Asociație și vreți să refaceți marcajele…</b>
            <br />
            Trebuie să respectați câteva prevederi de detaliu tehnic, pentru asigurarea uniformităţii şi respectării inscripţionării
            internaţionale, după cum susțin cei de la Salvamont Prahova:
            Astfel:
            <br />
            a) se vor încadra într-un patrulater imaginar cu laturile de 16 – 20 cm;
            <br />
            b) benzile de culoare vor avea o lăţime de 6 cm, iar cele de culoare albă, de 5 cm (5 + 6 + 5 = 16 cm);
            <br />
            c) triunghiul cu miezul de culoare va avea laturile de 10 cm, iar banda de culoare albă, de 3 cm (3 + 10 + 3 = 16 cm);
            <br />
            d) punctul de culoare va avea diametrul de 10 cm, iar banda de culoare albă, o lăţime de 3 cm (3 + 10 + 3 = 16 cm);
            <br />
            e) crucea de culoare va avea cele două benzi perpendiculare de 3 cm, iar banda de culoare albă, de 5 cm (5 + 6 + 5 = 16 cm);
            <br />
            f) semnele de marcaj se vor aplica în ambele sensuri de circulaţie, la distanţe astfel apreciate încât să fie uşor vizibile
            de la un semn la altul, perpendiculare pe direcţii de mers şi la înălţimea de 1,5 – 2 m faţă de sol;
            <br />
            g) în golurile alpine şi în poienile foarte mari semnele de marcaj se vor face pe stâlpi confecţionaţi din ţevi metalice;
            stâlpii vor fi vopsiţi mai întâi cu grund de protecţie, apoi cu vopsea de culoare albă şi neagră, în dungi alternative de
            30 cm lăţime, vor fi prevăzuţi la partea inferioară cu gheare pentru fixarea în fundaţii de ciment şi apoi, în pământ şi
            la partea superioară, cu o paletă pentru semnele de marcaj;
            <br />
            h) pentru protecţia arborilor semnele de marcaj se vor aplica direct pe copaci, prin vopsire, fiind interzisă fixarea în
            cuie a altor indicatoare;
            <br />
            i) în zonele stâncoase, greu accesibile, semnele de marcaj se vor aplica pe palete metalice scurte sau pe lespezi plate
            din piatră, implantate în grămezi de pietre, cimentate, cu o înălţime de 0,4 – 0,6 m;
            <br />
            j) în zonele în care traseul turistic montan este bine trasat şi nu are ramificaţii nu se va face exces de semne, dar se
            vor marca în mod deosebit intrările în pădure (din drumuri, poieni, goluri alpine, văi) prin unul sau mai multe semne
            uşor vizibile;
            <br />
            k) pe un traseu comun, marcat cu semne diferite, vor fi aplicate toate semnele, în grup, unul sub altul, şi nu alternativ,
            la distanţe mari unul de altul; în zonele stâncoase semnele de marcaj se vor grupa orizontal;
            <br />
            l) în punctele de inflexiune a direcţiei de mers a potecii se vor aplica săgeţi bicolore (culoarea albă + culoarea
            marcajului), care vor indica unghiul direcţional; săgeata va avea o lungime de 40 – 50 cm, o lăţime totală de 8 – 10 cm
            şi unghiul direcţional de 15 grade, 30 grade, 45 grade, 60 grade, 75 grade, 90 grade, 105 grade şi de 120 grade;
            <br />
            m) în zone deosebit de circulate şi expuse fenomenului de ceaţă marcajul care va indica apropierea refugiului alpin sau a
            cabanei va fi dublat de un sistem de atenţionare acustic sau vizual, acţionat electric sau mecanic; în cazul cabanelor
            funcţionarea acestui sistem va fi în responsabilitatea cabanierului;
            <br />
            n) la executarea tuturor marcajelor se vor folosi vopsele reflectorizante şi rezistente la ger, căldură, soare, umezeală
            şi agenţii poluanţi corosivi;
            <br />
            o) se va evita marcarea drumurilor publice şi a drumurilor forestiere altfel decât prin tăbliţe indicatoare, la capetele
            acestora; în cazul în care un traseu turistic montan se interferează cu un drum public, traseul va fi marcat astfel încât
            să fie bine relevate intrările şi ieşirile din drumul public.
        </p>
    </div>
</body>
</html>
