
@{
    ViewBag.Title = "Actiuni";
}

<br />

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Actions.css")
</head>
<body>
    <div class="advices">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <img src="~/Sources/Images/trail1.jpg"> <br /> <br />
                <figcaption>@Html.ActionLink("Adauga un traseu", "Create", "TrailModels")</figcaption>
            </div>
            <div class="col-md-4 col-sm-6">
                <img src="~/Sources/Images/mountain1.jpg"> <br /> <br />
                <figcaption>@Html.ActionLink("Adauga un munte", "Create", "MountainModels")</figcaption>
            </div>
            <div class="col-md-4 col-sm-6">
                <img src="~/Sources/Images/peak1.jpg"> <br /> <br />
                <figcaption>@Html.ActionLink("Adauga un varf", "Create", "PeakModels")</figcaption>
            </div>
            <hr />
        </div>
    </div>
</body>
</html>
