
@{
    ViewBag.Title = "Sfaturi utile pentru incepatori";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/BeginnerAdvices.css" rel="stylesheet" />

</head>
<body>
    <div class="beginner_advices">
        <h2> Sfaturi utile pentru începători. Cum te pregătești pentru o drumeție pe munte </h2>

        <p>
            <b>
                Există o diferență colosală între a merge la munte și a urca pe munte. Majoritatea covârșitoare a românilor a fost cel puțin o dată 
                la munte, însă mult mai puțini sunt cei care iubesc cu adevărat drumețiile montane și se simt pe munte ca peștele în apă.
            </b>
            <br /><br />
            Însă niciodată nu este prea târziu pentru a-ți dezvolta o astfel de pasiune, iar dacă nu ai fost niciodată pe munte, ți-am pregătit 
            câteva sfaturi foarte simple, dar care s-ar putea dovedi utile în vederea organizării unei drumeții la altitudine.
            <br /><br />
            În plus, cu cât vei merge mai mult pe munte, cu atât îți vei da seama mai bine de lucrurile de care ai nevoie și de cele pe care le-ai 
            cărat cu tine în mod inutil pe potecile montane.
            <br /><br />
            Iată o lista foarte simplă cu ce trebuie să iei cu ţine şi ce ar trebui să faci în prealabil:
            <br /><br />
            În primul rând, gândește-te cât de lungă va fi drumeția ta. Dacă pleci într-o drumeție de o zi, iar vremea ține cu tine, îți recomandăm 
            un rucsac sport. Pentru o drumeție mai scurtă, de acomodare cu potecile montane, însă fără să te aventurezi pe un traseu dificil, poți să 
            iei cu tine și un rucsac unisex.
            <br />
            2. Verifică prognoza meteo din zona în care călătoreşti şi împachetează îmbrăcăminte potrivită pentru acele condiţii. Dacă mergi în 
            drumeție pentru cel puțin două zile, ține cont că, deşi ziua la munte poate fi destul de cald, nopţile şi dimineţile sunt deseori reci, 
            mai ales că ne aflăm, încă, la mai bine de o jumătate de lună de vara calendaristică. Nu uita să iei la ţine cel puţin trei perechi de 
            şosete. Nimic nu este mai neplăcut decât să te uzi la picioare și să nu ai șosete de schimb.
            <br />
            3. Ia cu ţine încălțăminte adecvată. Bocancii de munte reprezintă cea mai importantă piesă a echipamentului tău și scad riscul 
            accidentărilor sau alunecărilor. Fără teama de a exagera, îți spunem că o pereche de bocanci buni îți poate salva viața în anumite 
            situații critice.
            <br />
            4. Evita să iei cu tine mai multe lucruri decât ai nevoie cu adevărat.
            <br />
            5. Rulează îmbrăcămintea în loc să o împătureşti. În acest fel, hainele vor ocupa mult mai puţin spaţiu în bagaj.
            <br />
            6. Dacă iei cu tine diferite lichide, precum iod sau spirt, pune-le în recipiente speciale, pe care le bagi, la rândul lor, într-o pungă
            sigilată din plastic.
            <br />
            7. Ia cu tine o „trusă” de prim-ajutor, cu „pastile de cap” (cele care „funcționează” în cazul tău), un set de bandaje, o sticluță mică 
            de rivanol, una (la fel de mică) de spirt, pastile pentru problemele digestive, săpun, un ac și o papiotă cu ață. Nu știi niciodată când 
            ai putea avea nevoie de ele. Totodată, un cuțit ar putea fi la fel de util.
            <br />
            8. Descarcă aplicația <b>Salvamont</b>
            <br /><br />
            Este aplicația oficială a Asociației Naționala a Salvatorilor Montani din România (A.N.S.M.R.) și oferă utilizatorilor o gamă variată de 
            funcții: avertismente montane, starea vremii, trasee montane, contactele și locațiile cabanelor din întreaga țară, precum și a pârtiilor. 
            În plus, utilizatorii au posibilitatea de a-și planifica excursiile cu ajutorul Dispeceratului Salvamont.
            <br /><br />
            Cea mai importantă facilitate a acestei aplicații este secțiunea SOS, care reprezintă un serviciu de localizare, prin care poți notifica,
            în timp real, dispeceratul Salvamont despre traseul și coordonatele GPS, altitudinea și chiar și nivelul bateriei telefonului tău. Astfel, 
            în caz de pericol, salvamontiștii te pot repera foarte ușor.
        </p>
    </div>
</body>
</html>
