body {
	background-image: linear-gradient(to right top, #FFF8F0, #C6C0B8, #FFEDCB, #005B4B);
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.styled-table {
	border-collapse: collapse;
	margin: 25px 0 0 300px;
	font-size: 0.9em;
	font-family: sans-serif;
	min-width: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
		background-color: #009879;
		color: #ffffff;
		text-align: left;
}

.styled-table th,
.styled-table td {
		padding: 12px 15px;
}

.styled-table tbody tr {
		border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
			background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
			border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
			font-weight: bold;
			color: #009879;
}

.h4{
	text-align: center;
}
